.logo {
  display: flex;
  flex: 2;
}

.logo h1 {
  background: var(--color-primary);
  display: flex;
  font-weight: 300;
  padding: 8px 24px;
}

.logo span:last-child {
  color: var(--color-accent);
}
