.a {
  color: var(--color-accent);
  position: relative;
  transition: 0.2s ease-out;
}

.a::before {
  background: var(--color-accent);
  content: '';
  height: 1px;
  position: absolute;
  transition: 0.2s ease-out;
  width: 0;
  left: 50%;
  bottom: -2px;
}

.a:hover::before {
  left: 0;
  width: 100%;
}
