.a {
  --active-color: #var(--color-accent);
  --active-background-color: none;
  --background: none;
  --hover-background-color: none;
  --hover-color: var(--color-accent);
  --padding: 0;
  --text-color: #fff;
  background: var(--background);
  color: var(--text-color);
  position: relative;
  padding: var(--padding);
  transition: 0.2s ease-out;
}

.active {
  background: var(--active-background-color);
  color: var(--active-color);
}

.a:hover {
  color: var(--hover-color);
  background: var(--hover-background-color);
}
