.bible-reader h2,
.bible-reader h3,
.bible-reader h4 {
  margin: 24px 0;
}

.bible-reader div[class*='footnotes'] > p {
  font-size: 0.8rem;
}

.bible-reader p {
  line-height: 1.5;
  margin-bottom: 24px;
}

.bible-reader p[class*='block-indent'] {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.bible-reader p[class*='block-indent'] > span[class*='indent'] {
  margin-left: 48px;
}

.bible-reader a {
  color: var(--color-accent);
}

.bible-reader a[class='fn'] {
  margin-right: 4px;
}
