.bible {
  background: var(--color-secondary);
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
  max-width: 768px;
  padding: 64px 24px;
}

.bible[data-passage='false'] {
  align-items: center;
  background: transparent;
  justify-content: center;
}
