.bible-query {
  display: flex;
}

.bible-query fieldset {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.bible-query legend {
  padding: 4px;
}

.bible-query div {
  flex: 1;
  display: flex;
}

.bible-query input {
  background: var(--color-primary);
  border: 1px solid #fff;
  color: var(--color-accent);
  flex: 1;
  padding: 4px;
}

.bible-query fieldset[data-error-message]::after {
  color: rgb(255, 83, 83);
  content: attr(data-error-message);
  font-size: 0.9rem;
  margin-top: 4px;
}

.bible-query button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 4px;
  transition: 0.2s ease-out;
}

.bible-query button:hover {
  background: var(--color-accent);
  border: 1px solid var(--color-accent);
  color: #111;
}
