.home {
  display: flex;
  width: 100%;
  max-width: 1048px;
  padding: 24px;
}

.home > div {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  flex: 1;
}
