.daily-verse {
  display: flex;
  flex: 1 250px;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}

.daily-verse h2,
.daily-verse h3,
.daily-verse sup[class='footnote'],
.daily-verse p:last-child {
  display: none;
}

.daily-verse b {
  font-weight: 300;
}
