* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #1a153b;
  --color-secondary: #212121;
  --color-accent: #00f2ff;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

sup {
  margin-right: 4px;
}

img {
  background-repeat: no-repeat;
}
