* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(26, 21, 59);
  --color-secondary: rgb(33, 33, 33);
  --color-accent: rgb(0, 242, 255);
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}
